@media (min-width: 1000px) and (max-width: 1200px) {

    .menu__media {
        position: absolute;
        top: 60px;
        left: 17%;
    }

    .navbar__wrap {
        padding-bottom: 10px;

    }
}

@media (max-width: 1200px) {

    h1 {
        font-size: calc(28px + 22 * (100vw / 1200));

    }
    .swiper-button-next {
        right: 0 !important;
    }
    .swiper-button-prev {
        left: 0 !important;
    }

}

@media (max-width: 1000px) {
    /*Вверхнее  меню*/
    .navbar__wrap .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    .menu__block {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
        width: 100%;
        padding-right: 0;
    }

    .popup {
        position: fixed;
        top: 75px;
        right: -100%;
        width: 100%;
        left: 100%;
        background-color: #1e1e1e;
        z-index: 100;
        display: flex;
        transition: 0.3s;
        height: 100%;
    }

    .popup.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .menu > li {
        width: 100%;
    }

    .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 11px 0;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        max-width: 288px;
        margin: 0 auto;
    }

    .popup .menu > li > a:hover {
        background-color: #333333;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

    /*Вверхнее  меню*/
    .el-911__block-right {
        font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1200 - 320)));
    }

    .contacts__tel {
        font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1200 - 320)));
    }

    .contacts__info {
        font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
}

@media (max-width: 902px) {
    /*Главный блок*/
    .el-911__block-one {
        flex-direction: column;
    }

    .el-911__block-left h1 {
        text-align: center;
    }

    .el-911__block-left img {
        max-width: 403px;
    }

    /*.Главный блок*/
    .product__block {
        flex-direction: column;
    }

    /*.О ппродукте*/
    /*Купить*/
    .price__marcet{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .price__marcet a{
        flex: 0;
    }
    .price__block-left img {
        width: 150px;
    }
    .price__block-left{
        width: 100%;
        aspect-ratio:auto;
        text-align: center;
        padding: 10px;

    }
    .price__block-right{
        display: none;
    }


    /*.Купить*/
    /*Контакты*/
    .contacts {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 0;
    }

    /*.Контакты*/
    .el-911__application-wrap {
        display: block;
    }

    .product__block__right img {

        max-width: 400px;

    }


}

@media (max-width: 583px) {
    /*Вверхнее  меню*/
    .menu__info {
        display: none;
    }

    /*Вверхнее  меню*/
}

@media (max-width: 350px) {
    /*Вверхнее  меню*/
    .menu__block {
        display: none;
    }

    .logo img {
        width: 95px;
    }

    /*Вверхнее  меню*/

}