li {
    /*list-style-type: none;*/

}

a {
    text-decoration: none;
    color: #fff;

}


h1 {
    font-size: 3.125rem;

}


h2 {
    /*font-size: 2.1875rem;*/
    color: #fff;
    font-size: calc(28px + (32 - 28) * ((100vw - 320px) / (1200 - 320)));
}

h3 {
    /*font-size: 1.75rem;*/
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
    color: #f8f8f8;
}

p {
    /*font-size: 1.25rem;*/
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
    line-height: 1.5;
    color: #fff;
    text-indent: 25px;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    /*background-image: url("img/fon.jpg ");*/
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*background-size: contain;*/
    /*background-repeat: repeat;*/
    position: relative;
    background-color: #1e1e1e;
}

.title_h2 {
    border-bottom: 1px solid #f8f8f8;
    padding: 15px 10px;
    /*border-radius: 10px;*/
    width: 100%;
}


.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;
}


/*Вверхнее  меню*/

.navbar {
    border-radius: 20px;
    background: #191919;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.logo img {
    width: 100%;
    max-width: 184px;
    min-width: 90px;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    gap: 10px;

}

.menu img {

    width: 32px;
    transition: 1s
}

.menu__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*gap: 20px;*/
    width: 30%;
    padding-right: 20px;
}

.menu__block li {
    list-style-type: none;
}


.menu > li {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;

}

.navbar__wrap ul > li > a:hover {
    color: #D12030;
}

.menu__block > li > a > img {
    width: 32px;
    transition: 1s
}

.menu__block > li > a :hover {
    width: 32px;
    transform: scale(1.2);
}

/*.Вверхнее  меню*/


/*Body*/


.el-911__block-one {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 20px;

}

.el-911__block-left {
    flex: 1 0 55%;
}

.el-911__block-left h1 {
    color: #f8f8f8;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -1.5px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.el-911__title span {
    color: #D12030;

}

.el-911__block-left img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.el-911__block-right {
    flex: 1 0 41%;

}

.el-911__block-form {
    background: #191919;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;

}

.el-911__block-form p {
    margin: 0 0 10px;
}

.el-911__block-form {
    color: white;
}

.el-911__link-tel a {
    color: #D12030;
}

.el-911__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.el-911__form input {
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;

}


/* Очистить поплавки */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.el-911__fio, .el-911__tel {
    position: relative;
}

.control-label {
    position: absolute;
    top: 30%;
    left: 1%;
}

.el-911__form-control {
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.el-911__check__control-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-left: 20px;
}

.uslovie_subscribe {
    font-size: 14px;
    text-align: center;
}

.el-911__btn {
    text-align: center;
    padding-top: 20px;

}

.el-911__btn button {
    padding: 20px 42px;
    background: #D12030;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.el-911__btn button:hover {
    background: #9a111e;
}

/*О продкте*/
.fon {
    position: relative;
    background: #191919;
}

.product__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.product__block__right img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.product__block__text ul {
    line-height: 1.5;
}

.product__text span {
    color: #D12030;
    font-weight: 600;
}

.product__block__text p {
    color: #D12030;
    margin-bottom: 0;

}
.product__block__text span {
    color: #D12030;
    margin-bottom: 0;

}

.product__block__text {
    color: #ffffff;
    text-align: justify;
}

/*.О продкте*/
/*Применение*/
.el-911__title-application {
    border-bottom: 1px solid #ffffff;
}

.el-911__application-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 0 60px;
}

.el-911__application-wrap:before {
    content: '';
    display: block;
    height: 1px;
    background: #D12030;
    width: 552px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.el-911__block-application__left {
    color: #f8f8f8;
    flex: 1 0 50%;
    text-align: justify;

}

.el-911__block-application__left p {
    /*color: #D12030;*/
}

.el-911__block-application__left ul {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.el-911__application span {
    color: #D12030;
    font-weight: 500;
}

.el-911__block-product__right {
    background-color: #191919;
    padding: 20px;
    border-radius: 10px;
}

.el-911__application:nth-child(odd) .el-911__application-wrap {
    flex-direction: row-reverse;
}

.el-911__img img {
    width: 100%;
    height: 100%;
    max-width: 525px;
}

.el-911__applications p > span {
    color: #D12030;
}


/*.Применение*/
/*Отзывы*/


.mySwiper {
    overflow: hidden;
}

.swiper-button-prev {
    left: 16% !important;
    color: #D12030 !important;

}

.swiper-button-next {
    right: 16% !important;
    color: #D12030 !important;
    /*background-color: rgba(232, 232, 232, 0.6);*/
    /*margin-top: 0;*/
}

.swiper-scrollbar {
    color: #D12030 !important;
}

.otzivy__text {
    background: #333332;
    border-radius: 20px;
    padding: 30px;
    margin: 0;
    color: #ffffff;
    line-height: 1.5;
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.otzivy__bubble-tail {
    width: 0;
    height: 0;
    margin-left: 25px;
    border: 12px solid;
    border-color: #333332 transparent transparent #333332;
}

.otzivy_info {
    display: flex;
    align-items: center;

    gap: 20px;
}

.otzivy__photo img {
    border-radius: 50%;
    width: 100%;
    max-width: 100px;
}

.otzivy__name {
    color: #D12030;
}

/*.Отзывы*/
/*Применение  */

.works__mySwiper {
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;

}

.swiper-button-prev {
    /*background: rgba(232, 232, 232, 0.6);*/
    border-radius: 50%;
    padding: 7px !important;
    height: auto !important;
    left: 15% !important;
}

.swiper-button-prev:after {
    font-size: 24px !important;
    line-height: 0;
}

.swiper-button-next {
    /*background: rgba(232, 232, 232, 0.6);*/
    border-radius: 50%;
    padding: 7px !important;
    height: auto !important;
    right: 15% !important;
}

.swiper-button-next:after {
    font-size: 24px !important;
    line-height: 0;
}

.works__swiper-button-prev {
    position: absolute;
    left: 0 !important;
}

.works__swiper-button-next {
    position: absolute;
    right: 0 !important;
}

.swiper-pagination span {

    background: #D12030;

}

.swiper-pagination {

    padding-bottom: 20px;

}

.works__col-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 10px 10px 0 0;

}

.works__col-1 {
    background: #333332;
    border-radius: 10px;
    height: auto !important;

}

.works__col-1__img .hidden {
    display: none;
}

.works__col-1 p {
    padding: 0 10px;
}


/*.Применение  */
/*Купить*/
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.price__block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333332;
    aspect-ratio: 16/7;
    border-radius: 10px;

}

.price__block-left img {
    width: 100%;
    max-width: 150px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background-size: cover;
    aspect-ratio: 20/9;
}

.price__marcet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.price__marcet a {
    flex: 0 0 33%;
}

.price__block-left a {
    text-align: center;

}

.price__block-right {
    position: relative;
    flex: 0 0 45%;
}

.price__img {
    display: flex;
}

.price__img img {
    max-width: 340px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/*.Купить*/
/*Контакты*/
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #191919;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.contacts__block-left {
    flex: 0 0 40%;
}

.contacts__block-form {
    background: #333332;
}

.contacts__info {;

    font-size: 28px;
}

.contacts__message {

    display: flex;
    gap: 20px;
    align-items: center;

    width: 100%;
}

.contacts__message img {
    width: 56px;
}

/*.Контакты*/

/*.Body*/

/*footer*/
footer {
    height: 410px;
}

/*.footer*/


/*Кнопка*/
body {
    min-height: 2000px;
}

.btn-up {
    position: fixed;
    background-color: #D12030;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 85px;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #D12030;
    }
}


/*.Кнопка*/